*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: Arial, sans-serif;
}
main{
    text-align: center;
}
section {
    width: 100%;
    background: linear-gradient(135deg, #345563, #036485, #2c5364);
    padding: 30px;
    
}
/* H1 Style */
h1 {
  font-size: 48px;
  color: white;
  letter-spacing: 1.5px;
  text-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
h2 {
    margin-top: 10px;
  font-size: 30px;
  color: white;
  letter-spacing: 1.5px;
  text-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

/* Button Style */
button {
    margin-top: 20px;
  padding: 12px 30px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(45deg, #ff512f, #dd2476);
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

/* Hover Effect */
button:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Click Effect */
button:active {
  transform: scale(0.95);
}
