@font-face {
  font-family: Poppins;
  src: url(./Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    width: 300px;
    height: 450px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .img-box {
      position: relative;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        background-size: cover;
        background-position: center;
        height: 300px;
      }
      i {
      opacity: 0;
      transition:
        opacity 0.3s cubic-bezier(1,1.54,0,.94),
        transform 0.4s cubic-bezier(1,1.54,0,.94);
      font-size: 80px;
      color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg) scale(0);
      background: linear-gradient(
        180deg,
        #862294,
        #c32567,
        #ea2b4b,
        #fb3d25,
        #ff651a,
        #fbae14
      );
      background-clip: text;
      color: transparent;
    }
    }
    h1 {
      font-style: italic;
      font-weight: 300;
    }
    
  }
}
