* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(43, 42, 42);
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  section {
    height: 100%;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: center;
    margin: auto;
    .all-reels {
      height: 100%;
      width: 100%;
      background-color: black;
      border-radius: 15px;
      overflow: auto;
      scroll-snap-align: start;
      scroll-snap-stop: always;
      .reel {
        width: 100%;
        img {

          width: 100%;
          object-fit: cover;
          object-position: center;
        }
        .bottom{
          width: 100%;
          padding: 10px;
          img{
            height: 45px;
            width: 45px;
            border-radius: 50%;
            display: inline-block
          }
        }
      }
    }
  }
}
