    @font-face {
  font-family: AlfaSlabOne;
  src: url(./AlfaSlabOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(34, 34, 34);
  font-family: AlfaSlabOne;
  color: aliceblue;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 2px;
  }
  .cursor {
    background: #ffffff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;
    
  }
}