* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
button{
    padding: 14px 32px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  background: linear-gradient(45deg, #d42828, #d44242,  #0030ce);
    z-index: 2;
    position: relative;
}

