@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf");
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin gradientText($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin textStyle($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  min-height: 100%;
  width: 100%;
  background: #8497eb1e;
}
main {
  min-height: 100vh;
  padding: 20px;
  @include flexCenter;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  flex-shrink: 0;
  .card {
    width: 300px;
    padding: 25px;
    border-radius: 20px;
    background: #f5f1cb;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: 5px 5px rgb(226, 223, 71);
    img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      object-fit: cover;
      border: 3px solid #ddd;
    }
    h2 {
      @include textStyle(22px, 700, black);
    }
    .prof {
      @include textStyle(20px, 600, rgb(255, 94, 0));
    }
    .dscrp {
      @include textStyle(14px, 500, black);
    }
    .age {
      font-size: 24px;
      font-weight: 700;
      @include gradientText(
        linear-gradient(90deg, rgb(255, 208, 0), #d6d328, #ff9408)
      );
    }
    .salary {
      font-size: 24px;
      font-weight: 700;
      @include gradientText(linear-gradient(90deg, #03eb50, #41b12a, #2c5f22));
    }
  }
}
