* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  background-color: cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    height: 450px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(53, 52, 52);
    border-radius: 20px;
    position: relative;
    .full-screen {
      height: 100%;
      width: 100%;
      position: absolute;
      display: none;
      border-radius: 17px;
    }
    .storyian {
      width: 100%;
      padding: 20px;
      height: 120px;
      border-bottom: 1px solid #9e9d9d;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      .story {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: antiquewhite;
        display: inline-block;
        margin-right: 10px;
        outline: 3px solid #f7ab38a1;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
    .storyian::-webkit-scrollbar {
      display: none;
    }
  }
}
