
@font-face {
    font-family: poppins;
    src: url(./Poppins-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: poppins;
}

main {
    width: 500px;
    height: 250px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
    /* vertical stack */
    gap: 20px;
}

.first {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 .first span{
    font-weight: 900;
    color: rgb(24, 70, 211);
 }
.outer {
    width: 100%;
    height: 15px;
    background-color: #c9c9c9;
    border-radius: 10px;
}

.inner {
    height: 15px;
    width: 0%;
    background-color: #12b10d;
    border-radius: 10px;
}

.another {
    display: flex;
    justify-content: space-between;
    padding: 0 10px ;
}

button{
color: #ffffff;
background-color: #12b10d;
border-radius: 10px;
border: none;
padding: 15px 20px;
font-size: 17px;
font-weight: 600;
cursor: pointer;
}
button:active{
    scale: 0.95;
    background-color: #12b10dbd;
}