@font-face {
    font-family: poppins;
    src: url(./Poppins-Regular.ttf);
}
@font-face {
    font-family: sina;
    src: url(./Ramsina-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    font-family: poppins;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    main{
        height: 400px;
        width: 300px;
        background: #fff; 
        border-radius: 10px;   
        padding: 20px;
        text-align: center;
        display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

        img{
            width: 100%;
            height: 65%;
            border-radius: 5px;
            object-fit: cover;
            object-position: center;
        }
        h5{
            font-size: 25px;
            margin-top: 10px;
        }
        h6{
            font-size: 35px;
            font-family: sina;
            font-weight: 300;
            color: #ddbd0a;
            letter-spacing: 1px;
        }
        button{
            font-family: sina;
            color: #000000;
            background-color: #ddbd0a;
            font-size: 25px;
            padding: 10px 25px;
            border: #ffda07;
            border-radius: 10px;
            cursor: pointer;
        }
        button:active{
            scale: 0.95;
        }

    }
}